<div class="container-fluid" *ngIf="!isOpenForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>
                        Daftar Items
                    </h1>
                    <div role="group" class="btn-group btn-group-sm btn-group-justified blocks">
                        <button  type="button" class="btn btn-sm btn-outline-secondary mr-2" (click)="showModal(formPencari)">
                            <i class="fa fa-search font-size-14 align-middle mr-1"></i> Pencarian 
                        </button>
                        <button type="button" class="btn btn-sm btn-primary mr-2" (click)="createItem()">
                            <i class="fa fa-plus font-size-14 align-middle mr-1"></i> Tambah Items 
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <td style="width: 1px;"></td>
                                <td>Nama</td>
                                <td>Kategori</td>
                                <td>Harga</td>
                                <td width="90"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let val of listItems | paginate: {
                                itemsPerPage: 5,
                                currentPage: this.pagination.nowPage,
                                totalItems: this.pagination.totalData
                            }; index as i; trackBy:trackByIndex">
                                <td class="vertical-middle" *ngIf="val.foto != null; else no_image">
                                    <img src="{{val.foto}}" alt="" width="100">
                                </td>
                                <td class="vertical-middle">{{val.nama}}</td>
                                <td class="vertical-middle">{{val.kategori}}</td>
                                <td class="vertical-middle">{{val.harga | currency:'IDR'}}</td>
                                <td class="vertical-middle text-right">
                                    <a href="javascript: void(0);" class="align-middle mr-2" (click)="updateItem(val)" placement="left" container="body" ngbTooltip="Ubah">
                                        <i class="fa fa-edit font-size-14"></i>
                                    </a>
                                    <a href="javascript: void(0);" class="align-middle" (click)="deleteItem(val.id)" placement="left" container="body" ngbTooltip="Hapus">
                                        <i class="fa fa-trash font-size-14"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pagination-controls [responsive]="true" (pageChange)="onPaginationChange($event)" [autoHide]="true"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isOpenForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>
                        {{titleCard}}
                    </h1>
                </div>
                <div class="card-body">
                    <item-form [itemId]="modelId" (afterSave)="showForm(false); getItem()"></item-form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formPencari let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Pencarian Item</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama</label>
            <div class="col">
                <input type="text" [(ngModel)]="findItem" (change)="findItemByFilter()" class="form-control" placeholder="Masukkan nama item">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="getItem(); modal.close()">Reset</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close(); modal.close()">Cari</button>
    </div>
</ng-template>

<ng-template #no_image>
    <td class="vertical-middle">
        <img src="http://127.0.0.1:8000/assets/img/no-image.png" alt="" width="100">
    </td>
</ng-template>